@page "/Account/Access-Denied"
@using WebUI.Components.Layout
@* @using NetcodeHub.Packages.UI.Templates.Breeze *@

@layout MainLayout

@* <TwoSectionsTemplate>
    <Col12Template>
        <div class="card">
            <div class="alert alert-warning"><h1>Sorry, do do not have access!</h1></div>
        </div>
    </Col12Template>
    <FooterTemplate></FooterTemplate>
</TwoSectionsTemplate> *@